* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

}

.justify-center {
  justify-content: center;
  display: flex;
}

.about-img {
  width: 99%;
}

.about-col {
  padding-right: 0 !important;
}

.row {
  margin-right: 0 !important;

  * {
    padding-right: 0 !important;
  }
}

.window {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.container {
  width: 1115px;
  min-height: calc(100vh - 160px);
  display: flex;
  background-color: #E2E2E0;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
  }

  @media screen and (max-width: 1024px) {
    max-width: 100vw !important;

    padding: 0 !important;
    margin: 0 !important;
  }
  @media screen and (max-width: 875px) {
    height: 100%;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
  }
}

//1. Navigation

.navigation {
  height: 116px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

  .brand-word {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #ffffff;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.logo {
  width: 100%;
}


.navigation-menu {
  margin-left: auto;
  margin-right: auto;
  padding-right: 116px;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  // removes default disc bullet for li tags and applies margin to left & right side
  list-style-type: none;
  margin: 0 1rem;


}

.navigation-menu li a {
  // increases the surface area of the anchor tag to span more than just the anchor text
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 700;

}

.underline {
  color: green;
}


.hamburger {
  // removes default border on button element
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  // positions the icon to the right and center aligns it vertically
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}


@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }


  .navigation-menu ul {
    display: none;
    // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
    position: absolute;
    top: 116px;
    left: 0;
    // stacks the li tags vertically
    flex-direction: column;
    // makes menu span full height and width
    width: 100%;
    height: calc(100vh - 77px);
    //background-color: #1EBCF2;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    border-top: 1px solid black;
    z-index: 3;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation-menu li {
    // centers link text and strips off margin
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #000;
  }
  .navigation-menu li a {
    color: black;
    // increases the surface area of the anchor tag to span the full width of the menu
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}


#nav-toggle {
  position: absolute;
  left: 0;
  top: 20%;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  transform: rotate(180deg);
  background: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: black;
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: blue;
}

//carousel

.slider {
  align-self: stretch;
}

.carousel {
  height: calc(100vh - 160px);

}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #fff !important;
  opacity: 1 !important;
  z-index: 1 !important;
}

.carousel-indicators .active {
  background-color: #060856 !important;
}

//3. Footer
footer {
  display: flex;
  width: 100%;
  height: 44px;
  background-color: #383bd9;
  justify-content: space-between;

  .copyright {
    color: #fff;
    align-self: end;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
  }

  .social-block {
    display: inline-flex;
    align-items: center;
    margin-right: 40%;
    @media screen and (max-width: 768px) {

      display: none;

    }
  }


  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #fff !important;
    cursor: pointer;

    &:hover {
      color: red !important;

    }
  }

  .contacts-block {
    margin-right: 4%;
    color: #fff;

    .contacts {
      display: flex;
      text-decoration: none;
      flex-direction: column;
      padding-right: 30px;
      font-size: 10px;
    }
  }

}

.cards {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  width: 188px;
  height: 225px;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.25));
  margin-left: 25px;
  margin-bottom: 100px;
  margin-right: 25px;

  @media screen and (max-width: 768px) {
    margin-bottom: 75px;
  }
  @media screen and (max-width: 425px) {
    margin-bottom: 50px;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 5px;
  }
}

.goods {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

//Contacts /////////////////////////////////////////////////////////////////////////////////////////////////////////////


.main-contact-row {
  width: 100%;
  justify-content: space-around !important;
  @media screen and (max-width: 991px) {
    justify-content: center !important;
  }

  .main-contacts {
    padding-left: 20px;
    @media screen and (max-width: 377px) {
      padding: 0;
      font-size: 14px;

    }
  }


  .image {
    opacity: 0.2;
    position: relative;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  img {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -110px;
    right: -160px;
    left: auto;
    bottom: auto;
    @media screen and (max-width: 1399px){
      right: -135px;
    }
    @media screen and (max-width: 1199px){
      right: -100px;
    }
  }
}

h2 {
  text-align: center !important;
  z-index: 2;
}

.contact-row {
  width: 100%;
  display: flex;
  justify-content: space-around;


  .contactCard {
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 0;
    width: 255px !important;
    height: 241px;
    background-color: #fff;

    &:last-of-type {
      margin-bottom: 20px;
    }

    h3 {
      padding-top: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;

    }

    p {
      padding-top: 20px;
      padding-left: 14px;
    }
  }
}


//single product page


#product-container{
  justify-content: start;
  padding-left: 10px!important;
  padding-right: 10px!important;



  .info{
    align-self: normal;

    h3{
      text-align: center;
    }

    .productImage{
      position: relative;
      align-self: normal;
      height: 300px;
      width: 250px;
      float: left;
      background-position-x: -25px;
      margin-right: 20px;
      margin-bottom: 15px;

      @media screen and(max-width: 564px) {
        width: 300px;
        height: 375px;
        align-self: center;
        margin-right: auto;
        margin-left: auto;
        float: none;
        background-position-x: -30px;


      }

      button{
        background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
        color: #fff;
        border: none;
        border-radius: 10px;
        height: 30px;
        width: 200px;
        position: absolute;
        bottom: -10px;
        right: 25px;
        @media screen and(max-width: 564px){
          width: 275px;
          right: 12.5px;
        }

        &:hover{
          background: linear-gradient(90deg, #000851 0%, #1CB5E0 100%);

        }
      }

    }
  }
}

.tableTitle{
  border-bottom: 1px solid #000!important;
}