* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {

}

.window{
  height: 100vh;
  display: flex;
  flex-direction: column;



}

.navigation {
  height: 116px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  background-image: url("image/nav_bg.png");
  background-size: cover;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.logo {
  width: 100%;
}



.navigation-menu {
  margin-left: auto;
  margin-right: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  // removes default disc bullet for li tags and applies margin to left & right side
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  // increases the surface area of the anchor tag to span more than just the anchor text
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 700;
}


.hamburger {
  // removes default border on button element
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  // positions the icon to the right and center aligns it vertically
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}


@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }


  .navigation-menu ul {
    display: none;
    // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
    position: absolute;
    top: 116px;
    left: 0;
    // stacks the li tags vertically
    flex-direction: column;
    // makes menu span full height and width
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #1EBCF2;
    border-top: 1px solid black;
    z-index: 3;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation-menu li {
    // centers link text and strips off margin
    text-align: center;
    margin: 0;
    border-bottom: 1px  solid #000;
  }
  .navigation-menu li a {
    color: black;
    // increases the surface area of the anchor tag to span the full width of the menu
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}


#nav-toggle {
  position: absolute;
  left: 0;
  top: 20%;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  transform: rotate(180deg);
  background: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: black;
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: blue;
}

//carousel

.slider{
  align-self: stretch;
}

.carousel{
  height: calc(100vh - 160px);

}
.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #fff !important;
  opacity: 1 !important;
  z-index: 1!important;
}

.carousel-indicators .active {
  background-color: #060856 !important;
}

//3. Footer
footer {
  display: flex;
  width: 100%;
  height: 44px;
  background-color: #383bd9;
  justify-content: space-between;

  .copyright {
    color: #fff;
    align-self: end;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
  }

  .social-block {
    display: inline-flex;
    align-items: center;
    margin-right: 40%;
    @media screen and (max-width: 768px){

        display: none;

    }
  }
  


  .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #fff !important;
    cursor: pointer;

    &:hover {
        color: red!important;

    }
  }

  .contacts-block {
    margin-right: 4%;
    color: #fff;
    .contacts {
      display: flex;
      text-decoration: none;
      flex-direction: column;
      padding-right: 30px;
      font-size: 10px;
    }
  }

}